#Homebanner{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(../../Image/banner..jpg)no-repeat scroll;
    background-size: cover;
    height:80vh;
    color: rgb(118, 12, 12);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Homebanner h1{
    font-weight: bolder;
}